.price {
  height: 45px;

  .middle {
    position: relative;
    width: 100%;
    margin-top: 25px;

    .slider {
      position: relative;
      z-index: 1;
      height: 5px;
      margin: 0 15px;

      .track {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: #ddd;
      }

      .range {
        position: absolute;
        z-index: 2;
        left: 25%;
        right: 25%;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: #212529;
      }

      .thumb {
        position: absolute;
        top: 2px;
        z-index: 3;
        width: 20px;
        height: 20px;
        background-color: #212529;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(15, 49, 18, 0.705);
        transition: box-shadow 0.3s ease-in-out;

        &::after {
          position: absolute;
          width: 8px;
          height: 8px;
          left: 28%;
          top: 30%;
          border-radius: 50%;
          content: '';
          background-color: #fff;
        }

        &.left {
          left: 25%;
          transform: translate(-15px, -10px);
        }

        &.right {
          right: 25%;
          transform: translate(15px, -10px);
        }

        &.active {
          box-shadow: 0 0 0 10px rgba(23, 71, 27, 0.623);
        }

        &.hover {
          box-shadow: 0 0 0 10px rgba(46, 66, 47, 0.507);
        }
      }
    }
  }

  .price_range_values {
    font-size: 0.8rem;
  }
}

input[type='range'] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

@media (max-width: 1199.5px) {
  .price {
    font-size: 0.9rem;
  }
}

@media (max-width: 991.5px) {
  .price {
    font-size: 0.85rem;
  }
}
