@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,
body {
  height: 100%;
  background-color: #f4f4f4;
}

.btn:focus {
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}
